Gedoc.WebApp/Connected Services/ServiceReferenceEtlReporte/Gedoc.Etl.Winsrv.Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gedoc.Etl.Winsrv.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gedoc.Etl.Winsrv.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogEtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogEtl" nillable="true" type="tns:LogEtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogEtl" nillable="true" type="tns:ArrayOfLogEtl" />
  <xs:complexType name="LogEtl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ParentLogId" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEtl" nillable="true" type="tns:LogEtl" />
</xs:schema>