Gedoc.WebApp/Connected Services/ServiceReferenceEtlReporte/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceInteractSrv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceInteract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Gedoc.Etl.Winsrv.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceInteract_ExecuteEtl_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteEtl" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_ExecuteEtl_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteEtlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_ExecuteEtlSelectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteEtlSelectivo" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_ExecuteEtlSelectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteEtlSelectivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_GetLastLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastLogs" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_GetLastLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_GetEstadoEjecucion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstadoEjecucion" />
  </wsdl:message>
  <wsdl:message name="IServiceInteract_GetEstadoEjecucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstadoEjecucionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceInteract">
    <wsdl:operation name="ExecuteEtl">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInteract/ExecuteEtl" message="tns:IServiceInteract_ExecuteEtl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInteract/ExecuteEtlResponse" message="tns:IServiceInteract_ExecuteEtl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteEtlSelectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInteract/ExecuteEtlSelectivo" message="tns:IServiceInteract_ExecuteEtlSelectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInteract/ExecuteEtlSelectivoResponse" message="tns:IServiceInteract_ExecuteEtlSelectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInteract/GetLastLogs" message="tns:IServiceInteract_GetLastLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInteract/GetLastLogsResponse" message="tns:IServiceInteract_GetLastLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstadoEjecucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInteract/GetEstadoEjecucion" message="tns:IServiceInteract_GetEstadoEjecucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInteract/GetEstadoEjecucionResponse" message="tns:IServiceInteract_GetEstadoEjecucion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceInteract" type="tns:IServiceInteract">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceInteract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ExecuteEtl">
      <soap12:operation soapAction="http://tempuri.org/IServiceInteract/ExecuteEtl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteEtlSelectivo">
      <soap12:operation soapAction="http://tempuri.org/IServiceInteract/ExecuteEtlSelectivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLogs">
      <soap12:operation soapAction="http://tempuri.org/IServiceInteract/GetLastLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstadoEjecucion">
      <soap12:operation soapAction="http://tempuri.org/IServiceInteract/GetEstadoEjecucion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceInteractSrv">
    <wsdl:port name="NetTcpBinding_IServiceInteract" binding="tns:NetTcpBinding_IServiceInteract">
      <soap12:address location="net.tcp://localhost:8736/gedocetl/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8736/gedocetl/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>