Gedoc.Service/Connected Services/WsSso/WSSO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dibam.cl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.dibam.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dibam.cl">
      <s:element name="SystemValidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SistemaID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SystemValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemValidateResult" type="tns:Identidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Identidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AtributoAD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Logeado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SystemValidateSoapIn">
    <wsdl:part name="parameters" element="tns:SystemValidate" />
  </wsdl:message>
  <wsdl:message name="SystemValidateSoapOut">
    <wsdl:part name="parameters" element="tns:SystemValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSOSoap">
    <wsdl:operation name="SystemValidate">
      <wsdl:input message="tns:SystemValidateSoapIn" />
      <wsdl:output message="tns:SystemValidateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSOSoap" type="tns:WSSOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SystemValidate">
      <soap:operation soapAction="http://www.dibam.cl/SystemValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSOSoap12" type="tns:WSSOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SystemValidate">
      <soap12:operation soapAction="http://www.dibam.cl/SystemValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSO">
    <wsdl:port name="WSSOSoap" binding="tns:WSSOSoap">
      <soap:address location="http://ssodev.dibam.cl/WSSO.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSOSoap12" binding="tns:WSSOSoap12">
      <soap12:address location="http://ssodev.dibam.cl/WSSO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>