Gedoc.WebApp/Connected Services/WssRegMonSrvReference/monumentoservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResult" type="tns:MonumentoDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MonumentoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DenominacionOficial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsoActual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtrasDenominaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoriaMonumento" type="tns:CategoriaMonumentoDto" />
          <s:element minOccurs="0" maxOccurs="1" name="Agrupadores" type="tns:ArrayOfAgrupadorDto" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Grillas" type="tns:ArrayOfGrillaDto" />
          <s:element minOccurs="0" maxOccurs="1" name="Adjuntos" type="tns:ArrayOfCarpetaDto" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriaMonumentoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCorto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAgrupadorDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgrupadorDto" nillable="true" type="tns:AgrupadorDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgrupadorDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:ArrayOfValorCampoDto" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUnico" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValorCampoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValorCampoDto" nillable="true" type="tns:ValorCampoDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValorCampoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUnico" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGrillaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GrillaDto" nillable="true" type="tns:GrillaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GrillaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUnico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filas" type="tns:ArrayOfFilaGrillaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFilaGrillaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FilaGrillaDto" nillable="true" type="tns:FilaGrillaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilaGrillaDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Linea" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:ArrayOfValorCampoDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCarpetaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CarpetaDto" nillable="true" type="tns:CarpetaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarpetaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUnico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Archivos" type="tns:ArrayOfArchivoDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArchivoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArchivoDto" nillable="true" type="tns:ArchivoDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArchivoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreArchivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:ArrayOfValorCampoDto" />
        </s:sequence>
      </s:complexType>
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfMonumentoDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMonumentoDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MonumentoDto" nillable="true" type="tns:MonumentoDto" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="MonumentoServiceSoap">
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarSoapIn" />
      <wsdl:output message="tns:ConsultarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonumentoServiceSoap" type="tns:MonumentoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonumentoServiceSoap12" type="tns:MonumentoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonumentoService">
    <wsdl:port name="MonumentoServiceSoap" binding="tns:MonumentoServiceSoap">
      <soap:address location="http://regmonv.monumentos.cl/ws/monumentoservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MonumentoServiceSoap12" binding="tns:MonumentoServiceSoap12">
      <soap12:address location="http://regmonv.monumentos.cl/ws/monumentoservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>